<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Includes -->
  <xacro:include filename="inertial_macros.xacro"/>

  <!-- Constants -->
  <xacro:property name="deg2rad" value="0.0174532925"/>
  <xacro:property name="deg90" value="1.570796327"/>

  <!-- Mass -->
  <xacro:property name="mass" value="13.8"/>

  <xacro:macro name="rov_base" params="*gazebo inertial_reference_frame">
    
    <!-- base_link according to ROS conventions: x forward, z up -->
    <link name="base_link">

      <visual>
        <origin xyz="0.04 0.06 0" rpy="${deg90} 0 ${deg90}"/>
        <geometry>
          <mesh filename="file://$(find rov_sim)/rov.dae"/>
        </geometry>
      </visual>
      
      <collision>
        <origin xyz="0.04 0 0.2" rpy="0 0 0"/>
        <geometry><box size="0.5 0.45 0.40"/></geometry>
      </collision>

    </link>

    <!-- Inertial Link-->
    <link name="inertial_link">
      <xacro:inertial_box mass="${mass}" x="0.36" y="0.36" z="0.25">
        <origin xyz="0 0 0.2" rpy="0 0 0"/>
      </xacro:inertial_box>
    </link>

    <joint name="base_inertial_joint" type="fixed">
      <parent link="base_link"/>
      <child link="inertial_link"/>
    </joint>

    <!--
    <xacro:include filename="$(find rov_description)/urdf/rov_actuators.xacro"/>
    <xacro:include filename="$(find rov_description)/urdf/rov_sensors.xacro"/>
    -->

  </xacro:macro>
</robot>